node_modules/
.next/
.next-playwright-3101/
.env.local
.env
test-results/
playwright-report/
blob-report/

# clerk configuration (can include secrets)
/.clerk/
.vscode/extensions.json
.DS_Store

clerk_export_prod.csv
scripts/clerk_exoprt_prod.csv
